<br>

<div class="row">
  <div class="col-md-4">
    <div class="jumbotron">

      <%= image_tag(current_user.avatar.profile.url) if current_user.avatar? %>

      <h2><%= @user.name %></h2>
      <h4><%= @user.email %></h4>
      <small>
          <li>account created <%= @user.created_at.strftime("%m/%d/%Y") %></li>
          <li>last signed in <%= time_ago_in_words(@user.created_at) %> ago</li>
          <li><div class='js-items-count'><%= pluralize(@user.items.count, 'to-do item') %></div></li>
      </small>
      <p>
        <br>
        <%= link_to "edit user profile", edit_user_registration_path, class: 'btn btn-primary' %>
      </p>

    </div>
  </div>

  <div class="col-md-8">
    <div class="jumbotron">
      <h2>to-do items</h2>

    <div class='js-items'>
      <%= render partial: 'items/item', collection: @user.items %>
    </div>
    <div class='new-item'>
      <%= render partial: 'items/form', locals: {item: @item} %>
    </div>

    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">

  </div>
</div>
